:root{
    --main-color:#4E6686;
    --secondary-color: #FCE3AF;
    --shadow-var: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --my-red-color: #E36D6D;
    --green-message: #BBE5B0;
}

* {
    a{
        text-decoration: none;
    }
    margin-right: 0px;
    // overflow-y: hidden;
}

body { margin: 0; }

.navbar{
    background-color: var(--main-color) !important;
    .navbar-brand{
        font-weight: 600;
    }
    .nav-item{
        a{
            color: white !important;
            font-weight: 500;
        }
        :hover{
            color: wheat !important;
            transition: .5s;
        }
    }

    .me-2{
        height: 2.4em;
        width: 16em;
        border-radius: 2em;
        outline: none !important;
    }
    .dropdown-menu{
       a{
        color: rgb(78, 77, 77) !important;
       } 
       .dropdown-item:hover{
        color: var(--main-color) !important;
        }
       box-shadow: var(--shadow-var);
       border-radius: .6em;
    }
    .btn{
        margin-right: 1em;
        width: 5em;
        height: 2.4em;
        text-align: center;
        border-radius: 2em;
        border: 1.8px solid white;
        color: white;
        font-weight: 500;
        outline: none;
    }
    .btn:hover{
        background-color: white;
        color: var(--main-color);
        outline: none;
    }
    .navbar-toggler{
        border: none;
        outline: none !important;
    }
    .navbar-toggler:focus
    {
        outline: none;
    }
}

.navbar .nav-link {
  color: #fff !important;
}

.main-container{
    height: 200vh;
    width: 100% !important;
    .carousel{
        text-align: center;
        video{
            width: 100%;
            filter: brightness(.6);
        }
    }
}

.deadlines{
    
    width: 100% !important;
    padding-left: 0;
    margin-left: 0 ;
    margin-right: 0 !important;
    padding-right: 0 !important;
    #deadlines-title{
        padding: 1em 0 0em 1.5em;
        margin-bottom: .1em;
        width: 100%;
    }
    
    .img-deadlines{
        object-fit:cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100 !important;
        width: 100% !important;
        height: 220px;
        filter: brightness(.5);
    }
    .tutorial-deadlines{
        // height: 50vh;
        padding: 0;
        position:relative;
        .step{
            margin-top: 1em;
            order: 54 !important;
            color: white;
            display: flex;
            margin-left: 2em;
            h1{
                z-index: 100;
                font-size: 68px;
                margin-right: .5em;
            }
            h2{
                z-index: 100;
                margin-top: .6em;
                font-size: 18px;
                span{
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }
        #step3{
            color: black;
        }
    }
    .calendar-side{
        // height: 50vh;
        padding-left: 0;
        align-content: center !important;
        align-items: center !important;
        .card{
            height: 13.8em;
            margin-left: 2em;
            box-shadow: var(--shadow-var);
        }
        .card-header{
            background-color: var(--my-red-color);
            text-align: center;
            color: white;
            font-size: 26px;
            font-weight: 600;
        }
        .card-body{
            text-align: center;
            .deadline-message{
                padding: .6em;
                font-weight: 500;
            }
        }
        .card-title{
            font-size: 40px;
            font-weight: bold;
        }
        .calendar-buttons{
            display: flex;
            justify-content: center;
            .btn-calendar{
                color: black;
                text-align: center;
                margin: 1em;
                width: 5.4em;
                font-weight: 500;
                height: 1.9em;
                border-radius: 1em;
                border: 1.9px solid black;
                cursor: pointer;      
            }
            .btn-calendar:hover{
                background-color: var(--my-red-color);
                transition: .3s ease;
                color: white;
                border-color: white;
            }
        }
    }
}
.title-underline{
    height: 5px;
    width: 100px;
    background-color: black;
    margin-bottom: 1em;
    margin-left: 3.8em;
    display: block;
}


#separator-one{
    height: 2px;
    background-color: gray;
    width: 90%;
    // margin-right: 3em;
    // padding-left: 3em;
    margin-left: 2em;
    position: absolute;
    // margin-top: 2em;
}
.courses{
    padding-top: 2em;
    background-color:rgb(14, 13, 13);
    margin-top: 4em;
    margin-right: 0;
    margin-left: 0;
    #courses-title{
        margin-left: 1.6em;
        color: white;

    }
    .title-underline{
        background-color: white !important;
    }
    .course-description{
        margin-top: 2em;
        padding-left: 2em;
        color: white;
        h3{
            font-size: 50px;
        }
    }
    .course-overview{
        margin-top: 4em;
        padding: 0;
        .d-block{
            filter: brightness(.5);
            border-radius: 60em; 
            margin-top: 2em;
            margin-left: 26% !important;
        }
        
    }
    .carousel-caption{
        text-align: right;
    }
    .tutorial-courses{
        font-weight: 200;
    }
    .btn-explore-courses{
        width: 6em;
        text-align: center;
        padding: .2em;
        justify-content: center;
        display: inline-block;
        border: 2px white solid;
        border-radius: 2em;
        cursor: pointer;
        font-weight: 500;
        margin-top: 2em;
        margin-bottom: 2em;
    }
    .btn-explore-courses:hover{
        // border-color: black;
        color: black;
        background-color: white !important;
        transition: .35s ease-in-out;
    }

}

.digital-notes{
    padding-top: 2em;
    margin-right: 0;
    .title-diginotes{
        padding-left: 4em;
        color: black;
    }
    
    .img-digital-notes{
        object-fit: cover;
        margin-right: 0;
        border-radius: 100vw;
        margin-left: -10% !important;
        filter: brightness(.6);
        height: 100vw;
        width: 100vw;
        
        margin-bottom: 6em;
        margin-top: 4em;
    }
    .new-feature-desc{
        width: 40%;
        color: white;
        z-index: 100;
        margin-top: -30em;
        margin-left: 10vh;
        h2{
            font-size: 20px;
            font-weight: 300;
        }
        h3{
            font-size: 16px;
            font-weight: 300;
        }
    }
    .btn-explore-feature{
        width: 6em;
        z-index: 101;
        text-align: center;
        padding: .2em;
        display: inline-block;
        border: 2px rgb(255, 255, 255) solid;
        border-radius: 2em;
        cursor: pointer;
        font-weight: 500;
        margin-top: 5em;
        margin-left: 10vw;
        // margin-right: 10em;
    }
    .btn-explore-feature:hover{
        color: black;
        background-color: white !important;
        transition: .35s ease-in-out;
    }
}

#separator-two{
    height: 2px;
    background-color: gray;
    width: 90%;
    // margin-right: 3em;
    padding-left: 3em;
    position: absolute;
    margin-top: 1em;
    // margin-bottom: 2em;
}
