:root{
    --main-color:#4E6686;
    --secondary-color: #FCE3AF;
    --shadow-var: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --my-red-color: #E36D6D;
    --green-message: #BBE5B0;
}

* {
    a{
        text-decoration: none;
    }
    margin-right: 0px;
}

body { margin: 0; }

.navbar{
    height: 4em; width: 100%;
    background-color: transparent !important;
    position: fixed;
    transition: all 0.3s ease-in-out;
    padding: 0px;
    margin: 0px;
    padding-right: 0;
    .nav-left{
        display: flex;
        align-content: center;
        margin-left: 1em;
        .nav-item{
            color: rgb(255, 255, 255);
            font-size: 15px;
            padding: 1em 1em;
            font-weight: 500;
            transition: all .35s ease-in-out;
        }
        .nav-item:hover{
            color:rgb(214, 44, 44) !important;
        }
    }
    .nav-center{
        padding-right: 12em;
        img{
            height: 2em !important;
            margin-top: 0em;
        }
    }
    .nav-right{
        text-align: right;
        #favourites{
            cursor: pointer;
            height: 1.4em;
            padding-right: 1em;
        }
        #search{
            cursor: pointer;
            height: 1.4em;
            padding-right: 1em;
            filter:invert(100%) sepia(0%) saturate(616%)
            hue-rotate(62deg) brightness(93%) contrast(91%);
        }
        #hamburger{
            filter: invert(0%) sepia(100%)
            saturate(0%) hue-rotate(338deg) brightness(200%) contrast(200%);
            cursor: pointer;
            display: none;
            transition: all .2s ease-in-out;
            transition: filter 0s;
            margin-right: 2em;
            height: 2em;width: 2em;
        }
    }
    .sidenav {
        box-shadow: var(--shadow-var);
        background-color:rgb(247, 247, 247);
        position: fixed;
        text-align: left;
        overflow-x: hidden;
        z-index: 1;
        height: 100%; width: 0;
        top: 0%; right: 0%;
        transition: 0.5s;
        padding-top: 60px;
        a{
            color: black;
            text-decoration: none;
            display: block;
            transition:all 0.3s ease-in-out;
            padding: 8px 8px 8px 32px;
            font-size: 25px;
        }
        a:hover {
            color: var(--darker-red);
        }
    }
    .sidenav .closebtn {
        position: absolute;
        top: -.3em; right: 26px;
        margin-left: 50px;
        font-size: 50px;
    }
}


.navbar .nav-link {
    color: #fff !important;
}

.main-container{
    height: 200vh; width: 100% !important;
    .carousel{
        text-align: center;
        video{
            width: 100%;
            filter: brightness(.6);
        }
    }
}

.deadlines{
    width: 100% !important;
    margin: 0; padding: 0;
    #deadlines-title{
        padding: 1em 0 0em 1.5em;
        margin-bottom: .1em;
        width: 100%;
    }
    .img-deadlines{
        object-fit:cover;
        position: absolute;
        filter: brightness(.5);
        top: 0; left: 0;
        z-index: 100 !important;
        width: 100% !important; height: 220px;
    }
    .tutorial-deadlines{
        padding: 0;
        position:relative;
        .step{
            color: white;
            display: flex;
            margin: 1em 0 0 2em;
            h1{
                z-index: 100;
                font-size: 68px;
                margin-right: .5em;
            }
            h2{
                z-index: 100;
                margin-top: .6em;
                font-size: 18px;
                span{
                    font-weight: 400;
                    font-size: 16px;
                }
            }
        }
        #step3{
            color: black;
        }
    }
    .calendar-side{
        padding-left: 0;
        .card{
            height: 13.8em;
            margin-left: 2em;
            box-shadow: var(--shadow-var);
        }
        .card-header{
            background-color: var(--my-red-color);
            text-align: center;
            color: white;
            font-size: 26px;
            font-weight: 600;
        }
        .card-body{
            text-align: center;
            .deadline-message{
                padding: .6em;
                font-weight: 500;
            }
        }
        .card-title{
            font-size: 40px;
            font-weight: bold;
        }
        .calendar-buttons{
            display: flex;
            justify-content: center;
            .btn-calendar{
                border: 2px solid black;
                transition: all .3s ease;
                cursor: pointer;
                color: black;
                text-align: center;
                margin: 1em; padding: .2em;
                width: 6em;
                font-weight: 500;
                border-radius: 2em;
            }
            .btn-calendar:hover{
                background-color: var(--my-red-color);
                color: white;
                border-color: white;
            }
        }
    }
}

.title-underline{
    background-color: black;
    display: block;
    height: 5px; width: 100px;
    margin: 0 0 1em 3.8em;
}

#separator-one{
    background-color: gray;
    position: absolute;
    height: 2px; width: 90%;
    margin: 2em 3em 0 3em;
}
.courses{
    background-color:rgb(14, 13, 13);
    padding-top: 2em;
    margin: 4em 0 0 0;
    .courses-title{
        margin-left: 1.6em;
        color: white;
    }
    .course-description{
        color: white;
        margin-top: 2em;
        padding-left: 2em;
        h3{
            font-size: 50px;
        }
        h2{
            padding-bottom: 2em;
        }
        .flip{
            position: static;
            padding-left: 5em;
            margin-bottom: 2em;
        }
    }
    .course-overview{
        margin-top: 4em;
        padding: 0;
        .d-block{
            filter: brightness(.5);
            border-radius: 60em;
            margin: 2em 0 0 26%;
        }
    }
    .carousel-caption{
        text-align: right;
    }
    .tutorial-courses{
        font-weight: 200;
    }
    .btn-explore-courses{

        text-align: center;
        cursor: pointer;
        justify-content: center;
        display: inline-block;
        border: 2px white solid;
        border-radius: 2em;
        width: 6em;
        font-weight: 500;
        padding: .2em;
        margin: 2em 0;
    }
    .btn-explore-courses:hover{
        color: black;
        background-color: white !important;
        transition: .35s ease-in-out;
    }
}

.digital-notes{
    padding-top: 2em;
    margin-right: 0;
    .title-diginotes{
        padding-left: 4em;
        color: black;
    }
    .img-digital-notes{
        object-fit: cover;
        border-radius: 100vw;
        filter: brightness(.6);
        height: 100vw; width: 100vw;
        margin: 4em 0 6em -10%;
    }
    .new-feature-desc{
        color: white;
        width: 40%;
        z-index: 100;
        margin: -26em 0 0 14vw;
        h2{
            font-size: 20px;
            font-weight: 300;
        }
        h3{
            font-size: 16px;
            font-weight: 300;
            padding-bottom: 1em;
        }
    }
    .btn-explore-feature{
        border: 2px rgb(255, 255, 255) solid;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        width: 6em;
        z-index: 101;
        border-radius: 2em;
        font-weight: 500;
        margin-left: 10vw;
        padding: .2em;
    }
    .btn-explore-feature:hover{
        background-color: white;
        color: black;
    }
}

#separator-two{
    background-color: gray;
    position: absolute;
    width: 90%; height: 2px;
    margin: 2em 3em 0 3em;
}

@media only screen and (max-width: 1024px) {
    .nav-item{
        display: none;
    }
    #hamburger{
        display: block !important;
    }
    .nav-center{
        padding-right: 0em !important;
    }
}
@media only screen and (max-width: 991px ) {

    .navbar-background-left{
        img{
            display: none;
        }
    }
}