:root {
  --main-color:#4E6686;
  --secondary-color: #FCE3AF;
  --shadow-var: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  --my-red-color: #E36D6D;
  --green-message: #BBE5B0;
}

* {
  margin-right: 0px;
}

* a {
  text-decoration: none;
}

body {
  margin: 0;
}

.navbar {
  background-color: var(--main-color) ;
}

.navbar .navbar-brand {
  font-weight: 600;
}

.navbar .nav-item a {
  color: white !important;
  font-weight: 500;
}

.navbar .nav-item :hover {
  color: wheat !important;
  -webkit-transition: .5s;
  transition: .5s;
}

.navbar .me-2 {
  height: 2.4em;
  width: 16em;
  border-radius: 2em;
  outline: none !important;
}

.navbar .dropdown-menu {
  -webkit-box-shadow: var(--shadow-var);
  box-shadow: var(--shadow-var);
  border-radius: .6em;
}

.navbar .dropdown-menu a {
  color: #4e4d4d !important;
}

.navbar .nav-right #switchAutism{
  cursor: pointer;
  height: 1.4em;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(73deg) brightness(150%) contrast(100%);
  margin-top: 0px;
}
.navbar .nav-right .form-check-label{
  margin-right: 2em;
  color: black;
  margin-top: 0px;
}

#hamburger{
  filter: invert(100%) sepia(200%) saturate(7500%) hue-rotate(73deg) brightness(106%) contrast(109%) !important;
}

.navbar .dropdown-menu .dropdown-item:hover {
  /*color: var(--main-color) !important;*/
}

#logo{
  filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(73deg) brightness(106%) contrast(109%) !important;
}



.navbar .btn {
  margin-right: 1em;
  width: 5em;
  height: 2.4em;
  text-align: center;
  border-radius: 2em;
  border: 1.8px solid white;
  color: white;
  font-weight: 500;
  outline: none;
}

.navbar .btn:hover {
  background-color: white;
  /*color: var(--main-color);*/
  outline: none;
}

.navbar .navbar-toggler {
  border: none;
  outline: none !important;
}

.navbar .navbar-toggler:focus {
  outline: none;
}

.navbar .nav-link {
  color: #fff !important;
}

#background{
  /* z-index: -1; */
  border-radius: 50% 50%;
}
.textbox{
  z-index: 3;
  align-items: baseline;
  width: 50vw;
  margin-top: 20vh;
}
.textbox h1{
  font-size: 4vh;
  color: black;
  margin-left: 3vw;
  margin-top: 2vh;
}
.textbox p{
  margin-top: 8vh;
  font-family: Roboto;
  font-style: normal;
  margin-left: 3vw;
  font-size: 3vh;
  line-height: 47px;
  color: black;

}
#circle-new{
  height: 70em;
  z-index: -1;
  width: 65em;
  /* top | right | bottom | left */
  margin: -60vh -5vw ;
  position: absolute !important;
  cursor: pointer !important;
  object-fit: cover;
  border-radius: 100%;
  filter: brightness(70%);
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  padding: 0.5vh 1vw;
  width: 40vw;
  cursor: pointer;
  height: 7vh;
  margin-left: 3vw;
  border: 3px dashed #FFFFFF;
  border-radius: 30px;
}
#arrow{
  transform: translate(15px, 20px);
}
#paper{
  margin-left: -5vw;
}

#preview,#textArea{
  position: absolute;
  width: 30vw;
  height: 70vh;
  right: 1vw;
  top: 18vh;
  /*background: #F0F0F0;*/
}
#preview p{
  position: absolute;
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 3vh;
  line-height: 47px;
  transform: translate(0, -6vh);
  color: #544F4F;
}
#export{
  position: absolute;
  width: 818px;
  height: 96px;
  top: 80vh;
  margin-left: 3vw;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 3vh;
  line-height: 47px;
  color: #544F4F;

}

#camera img{
  position: absolute;
  width: 300px;
  height: 250px;
  left: 0px;
  top: 90vh;
;
}
