@import url(https://fonts.googleapis.com/css?family=Roboto:900,300);
body {
    background-color: #ffdab3;
    font-family: roboto;
}
.container {
    width: 1500px;
    height: 500px;
    margin: 200px auto 0px;
    background-color: #fff;
    padding: 0 0px 0px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.075);
    text-align: center;
}

.profile {
    border-radius: 100px;
    overflow: hidden;
    height: 150px;
    width: 150px;
    position: relative;
    margin: auto;
    top: -60px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 13px #f0f0f0;
    -webkit-box-shadow: 0 0 0 13px #f0f0f0;
    -moz-box-shadow: 0 0 0 13px #f0f0f0;

}

h2 {
    padding: 20px 10px 10px 20px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #333;
}
h4 {
    font-size: 20px;
    color: #8c8c8c;
    letter-spacing: 1px;
    margin-bottom: 25px
}
p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    color: #666;
}

.custom-file-upload {
    display: inline-block;
    padding: 0.6vh 0.5vw;
    width: 14vw;
    cursor: pointer;
    height: 5vh;
    margin-left: 3vw;
    border: 3px dashed #000000;
    border-radius: 30px;
}