:root {
    --main-color:#4E6686;
    --secondary-color: #FCE3AF;
    --shadow-var: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --my-red-color: #E36D6D;
    --green-message: #BBE5B0;
}

* {
    margin-right: 0px;
}

* a {
    text-decoration: none;
}

body {
    margin: 0;
}

.navbar {
    background-color: var(--main-color) !important;
}

.navbar .navbar-brand {
    font-weight: 600;
}

.navbar .nav-item a {
    color: white !important;
    font-weight: 500;
}

.navbar .nav-item :hover {
    color: wheat !important;
    -webkit-transition: .5s;
    transition: .5s;
}

.navbar .me-2 {
    height: 2.4em;
    width: 16em;
    border-radius: 2em;
    outline: none !important;
}

.navbar .dropdown-menu {
    -webkit-box-shadow: var(--shadow-var);
    box-shadow: var(--shadow-var);
    border-radius: .6em;
}

.navbar .dropdown-menu a {
    color: #4e4d4d !important;
}

.navbar .dropdown-menu .dropdown-item:hover {
    color: var(--main-color) !important;
}

.navbar .btn {
    margin-right: 1em;
    width: 5em;
    height: 2.4em;
    text-align: center;
    border-radius: 2em;
    border: 1.8px solid white;
    color: white;
    font-weight: 500;
    outline: none;
}

.navbar .btn:hover {
    background-color: white;
    color: var(--main-color);
    outline: none;
}

.navbar .navbar-toggler {
    border: none;
    outline: none !important;
}

.navbar .navbar-toggler:focus {
    outline: none;
}

.navbar .nav-link {
    color: #fff !important;
}

.main-container {
    height: 200vh;
    width: 100% !important;
}

.main-container .carousel {
    text-align: center;
}

.main-container .carousel video {
    width: 100%;
    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
}

.deadlines {
    width: 100% !important;
    padding-left: 0;
    margin-left: 0;
    margin-right: 0 !important;
    padding-right: 0 !important;
}

.deadlines #deadlines-title {
    padding: 1em 0 0em 1.5em;
    margin-bottom: .1em;
    width: 100%;
}

.deadlines .img-deadlines {
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100 !important;
    width: 100% !important;
    height: 220px;
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
}

.deadlines .tutorial-deadlines {
    padding: 0;
    position: relative;
}

.deadlines .tutorial-deadlines .step {
    margin-top: 1em;
    -webkit-box-ordinal-group: 55 !important;
    -ms-flex-order: 54 !important;
    order: 54 !important;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 2em;
}

.deadlines .tutorial-deadlines .step h1 {
    z-index: 100;
    font-size: 68px;
    margin-right: .5em;
}

.deadlines .tutorial-deadlines .step h2 {
    z-index: 100;
    margin-top: .6em;
    font-size: 18px;
}

.deadlines .tutorial-deadlines .step h2 span {
    font-weight: 400;
    font-size: 16px;
}

.deadlines .tutorial-deadlines #step3 {
    color: black;
}

.deadlines .calendar-side {
    padding-left: 0;
    -ms-flex-line-pack: center !important;
    align-content: center !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
}

.deadlines .calendar-side .card {
    height: 13.8em;
    margin-left: 2em;
    -webkit-box-shadow: var(--shadow-var);
    box-shadow: var(--shadow-var);
}

.deadlines .calendar-side .card-header {
    background-color: var(--my-red-color);
    text-align: center;
    color: white;
    font-size: 26px;
    font-weight: 600;
}

.deadlines .calendar-side .card-body {
    text-align: center;
}

.deadlines .calendar-side .card-body .deadline-message {
    padding: .6em;
    font-weight: 500;
}

.deadlines .calendar-side .card-title {
    font-size: 40px;
    font-weight: bold;
}

.deadlines .calendar-side .calendar-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.deadlines .calendar-side .calendar-buttons .btn-calendar {
    color: black;
    text-align: center;
    margin: 1em;
    width: 5.4em;
    font-weight: 500;
    height: 1.9em;
    border-radius: 1em;
    border: 1.9px solid black;
    cursor: pointer;
}

.deadlines .calendar-side .calendar-buttons .btn-calendar:hover {
    background-color: var(--my-red-color);
    -webkit-transition: .3s ease;
    transition: .3s ease;
    color: white;
    border-color: white;
}

.title-underline {
    height: 5px;
    width: 100px;
    background-color: black;
    margin-bottom: 1em;
    margin-left: 3.8em;
    display: block;
}

#separator-one {
    height: 2px;
    background-color: gray;
    width: 90%;
    margin-left: 2em;
    position: absolute;
}

.courses {
    padding-top: 2em;
    background-color: #0e0d0d;
    margin-top: 4em;
    margin-right: 0;
    margin-left: 0;
}

.courses .courses-title {
    margin-left: 1.6em;
    color: white;
}

.courses .title-underline {
    background-color: white !important;
}

.courses .course-description {
    margin-top: 2em;
    padding-left: 2em;
    color: white;
}

.courses .course-description h3 {
    font-size: 50px;
}

.courses .course-overview {
    margin-top: 4em;
    padding: 0;
}

.courses .course-overview .d-block {
    -webkit-filter: brightness(0.5);
    filter: brightness(0.5);
    border-radius: 60em;
    margin-top: 2em;
    margin-left: 26% !important;
}

.courses .carousel-caption {
    text-align: right;
}

.courses .tutorial-courses {
    font-weight: 200;
}

.courses .btn-explore-courses {
    width: 6em;
    text-align: center;
    padding: .2em;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: inline-block;
    border: 2px white solid;
    border-radius: 2em;
    cursor: pointer;
    font-weight: 500;
    margin-top: 2em;
    margin-bottom: 2em;
}

.courses .btn-explore-courses:hover {
    color: black;
    background-color: white !important;
    -webkit-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

.digital-notes {
    padding-top: 2em;
    margin-right: 0;
}

.digital-notes .title-diginotes {
    padding-left: 4em;
    color: black;
}

.digital-notes .img-digital-notes {
    -o-object-fit: cover;
    object-fit: cover;
    margin-right: 0;
    border-radius: 100vw;
    margin-left: -10% !important;
    -webkit-filter: brightness(0.6);
    filter: brightness(0.6);
    height: 100vw;
    width: 100vw;
    margin-bottom: 6em;
    margin-top: 4em;
}

.digital-notes .new-feature-desc {
    width: 40%;
    color: white;
    z-index: 100;
    margin-top: -30em;
    margin-left: 10vh;
}

.digital-notes .new-feature-desc h2 {
    font-size: 20px;
    font-weight: 300;
}

.digital-notes .new-feature-desc h3 {
    font-size: 16px;
    font-weight: 300;
}

.digital-notes .btn-explore-feature {
    width: 6em;
    z-index: 101;
    text-align: center;
    padding: .2em;
    display: inline-block;
    border: 2px white solid;
    border-radius: 2em;
    cursor: pointer;
    font-weight: 500;
    margin-top: 5em;
    margin-left: 10vw;
}

.digital-notes .btn-explore-feature:hover {
    color: black;
    background-color: white !important;
    -webkit-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}

#separator-two {
    height: 2px;
    background-color: gray;
    width: 90%;
    padding-left: 3em;
    position: absolute;
    margin-top: 1em;
}
/*# sourceMappingURL=home.css.map */
