:root{
    --main-color:#4E6686;
    --secondary-color: #FCE3AF;
    --shadow-var: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    --my-red-color: #E36D6D;
    --green-message: #BBE5B0;
}

* {
    a{
        text-decoration: none;
    }
    margin-right: 0px;
}

body { margin: 0;
    background: rgb(189,195,199);
    background: linear-gradient(90deg, rgba(189,195,199,1) 35%, rgba(44,62,80,1) 100%);
}

#flexCheckDefault{
    outline-color: transparent;
    border-color: black;
    border-radius: .2em;
}

.navbar{
    height: 4em; width: 100%;
    background-color: transparent !important;
    position: fixed;
    transition: all 0.3s ease-in-out;
    padding: 0px;
    margin: 0px;
    padding-right: 0;
    .nav-left{
        display: flex;
        align-content: center;
        margin-left: 1em;
        .nav-item{
            color: rgb(255, 255, 255);
            font-size: 15px;
            padding: 1em 1em;
            font-weight: 500;
            transition: all .35s ease-in-out;
        }
        .nav-item:hover{
            color:rgb(41, 40, 40) !important;
        }
    }
    .nav-center{
        padding-right: 12em;
        img{
            height: 2em !important;
            margin-top: 0em;
        }
    }
    .nav-right{
        text-align: right;
        #favourites{
            cursor: pointer;
            height: 1.4em;
            padding-right: 1em;
        }
        #search{
            cursor: pointer;
            height: 1.4em;
            padding-right: 1em;
            filter:invert(100%) sepia(0%) saturate(616%)
            hue-rotate(62deg) brightness(93%) contrast(91%);
        }
        #hamburger{
            filter: invert(0%) sepia(100%)
            saturate(0%) hue-rotate(338deg) brightness(200%) contrast(200%);
            cursor: pointer;
            display: none;
            transition: all .2s ease-in-out;
            transition: filter 0s;
            margin-right: 2em;
            height: 2em;width: 2em;
        }
    }
    .sidenav {
        box-shadow: var(--shadow-var);
        background-color:rgb(247, 247, 247);
        position: fixed;
        text-align: left;
        overflow-x: hidden;
        z-index: 1;
        height: 100%; width: 0;
        top: 0%; right: 0%;
        transition: 0.5s;
        padding-top: 60px;
        a{
            color: black;
            text-decoration: none;
            display: block;
            transition:all 0.3s ease-in-out;
            padding: 8px 8px 8px 32px;
            font-size: 25px;
        }
        a:hover {
            color: var(--darker-red);
        }
    }
    .sidenav .closebtn {
        position: absolute;
        top: -.3em; right: 26px;
        margin-left: 50px;
        font-size: 50px;
    }
}

.navbar .nav-link {
    color: #fff !important;
}


.main-container{
    margin: 0 !important;
    .title{
        padding: 10em 0 0 2.8em;
        text-align: left;
        color: rgb(44, 44, 44);
    }
    .task-side{
        overflow: visible;
        height: 20% !important;
        text-align: center;
        .user-input{
            padding: 2em 0 0 2em;
            display: flex;
            height: 5em !important;
            margin: 0 !important;
            .sort-var{
                color: rgb(238, 237, 237);
                padding: .3em 0em 0em 1em;
                transition: all .35s ease-in-out;
            }
            .sort-var:hover{

                color: rgb(100, 99, 99);
            }
            #search-task{
                background-color: transparent;
                border: 2px solid rgb(255, 255, 255);
                outline: 4px black;
                height: 2.5em;
                border-radius: 2.5em;
                width: 20em;
                color: rgb(36, 36, 36);
                // border: transparent;
                padding: 1em 1em 1.2em 1em;
            }
            #sort-btn{
                color: black;
                font-weight: bold;
                margin-top: 5px;
                padding-left: 1em;
            }
            // #sort-btn{
            //     margin-left: 2em;
            //     text-align: center;
            //     border: 2px rgb(255, 255, 255) solid;
            //     color: rgb(39, 38, 38);
            //     padding: .3em .4em .4em .4em;
            //     height: 2.5em;
            //     width: 6em;
            //     font-weight: bold;
            //     border-radius: 3em;
            //     cursor: pointer;
            //     transition: all .35s ease-in-out;
            // }
            // #sort-btn:hover{
            //     color: white;
            //     border-color: transparent;
            //     background-color: black;
            // }
        }
        .task-list{
            position: relative;
            margin: 2em 0 0 2em;
            padding: 0px;

            .list-group{
                max-height: 500px;
                max-width: 1000px;
                overflow-y: scroll;
                -webkit-overflow-scrolling: touch;
                box-shadow: var(--shadow-var);
            }
            ::-webkit-scrollbar {
                width:4px;
            }

            ::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);
                border-radius: 20px;
            }

            ::-webkit-scrollbar-thumb {
                border-radius: 20px;
                background-color: #aaaaaa;
                -webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.5);
            }
            .list-group-item{
                display: flex;
                justify-content: space-between;
                max-width: 70em !important;
                padding: 2em;
                .left{
                    text-align: left;
                    h2{
                        font-size: 15px;
                    }
                    h3{
                        font-size: 12px;
                    }
                    .mark-done{
                        display: flex;
                        h3{
                            margin-top: -.3em;
                        }
                        .form-check-input{
                            margin: -.2em 0 0 .5em;

                        }
                    }
                }
                .center{
                    h2{
                        font-size: 16px;
                    }
                }
                .right{
                    display: flex;
                    img{
                        cursor: pointer;
                        height: 2em;
                        margin-left: 1em;
                        transition: all .35s ease-in-out;
                    }
                    img:hover{
                        -webkit-filter: invert(100%);
                    }
                }
                border: none;
                outline: none;
                transition: all .35s ease-in-out;

            }
            .list-group-item:hover{
                background-color: rgb(242, 249, 255);
                cursor: pointer;
                margin-left: 1em;

                // padding-left: 1em;
            }
        }
    }
    .new-side{
        height: 100%;
        #circle-new{
            height: 80%;
            position: fixed;
            right: 0; top: 6em;
            cursor: pointer;
            transition: all .35s ease-in-out;
        }
        #hover-alert{
            position: fixed;
            color:white;
            opacity: 0;
            font-size: 26px;
            top: 6em; right: 2em;
            z-index: 10;
            transition: opacity .5s ease-in-out;
        }
        .textbox{
            position: fixed;
            width: 35vh;
            top: 12em; right: 3em;
            opacity: 0;
            transition: opacity .5s ease-in;
            cursor: default;
            h1{
                font-size: 5vh;
                color: white;
            }
            .btn-new{
                cursor: pointer;
                display: none;
                position: absolute;
                background-color: white;
                text-align: center;
                font-weight: bold;
                height: 9vh; width: 20vh;
                top: 31vh; right: 3em;
                border-radius: 4em;
                margin-bottom: 4em; padding-top: .6em;
                border:3px white solid ;
                transition: all .35s ease-in-out;
                font-size: 5vh !important;
                padding: 0;
            }
        }

        .btn-new:hover{
            background-color: transparent;
            color: white;
        }
        .hover-popup{
            height: 19em;
        }
    }
}
@media only screen and (max-width:1500px){
    .new-side{
        #circle-new{
            // z-index: 500 !important;
            height: 80%;
            position: fixed !important;
            cursor: pointer !important;
            transition: all .4s ease-in-out;
        }
    }
}

@media only screen and (min-width:1501px){
    #circle-new{
        height: 80% !important;
        position: absolute !important;
    }
    #hover-alert{
        opacity: 0 !important;
    }
    .textbox,.btn-new{
        opacity: 1 !important;
        display: block !important;
    }
    .textbox{
        position: absolute !important;
        right: 1em !important;
        top: 11vw !important;
        width: 35vh !important;
        h1{
            font-size: 5vh !important;
        }
        .btn-new{
            // position: absolute !important;
            // right: 6em !important;
            // top: 6em !important;
            // width:20vh !important;
            // height: 2vh !important;
            // font-size: 3vh !important;

        }
    }

}

@media only screen and (max-width: 1024px) {
    .nav-item{
        display: none;
    }
    #hamburger{
        display: block !important;
    }
    .nav-center{
        padding-right: 0em !important;
    }
}
@media only screen and (max-width: 991px ) {

    .navbar-background-left{
        img{
            display: none;
        }
    }
}