<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/home.css">
    <link rel="stylesheet" href="/style/quizes.css">
    <script src="/scripts/navbar.js"></script>
    <title>Quizes</title>
</head>
<body>
<div class="page-container">
    <nav class="navbar navbar-light bg-light justify-content-between sticky-top col-xs-12" id="navbar">
        <div class="nav-left">

            <div id="mySidenavLeft" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNavLeft()">&times;</a>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="switchAutism">
                    <label class="form-check-label" for="switchAutism">Color assistance</label>
                </div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="switchAudio">
                    <label class="form-check-label" for="switchAudio">Audio assistance</label>
                </div>
            </div>
            <img src="/media/nav_prod.svg" id="openNavLeft" style="cursor:pointer;" onclick="openNavLeft()">

            <a id="home-text" class="nav-item" href="/home">Home</a>
            <a id="professors-text" class="nav-item" href="/professors">Professors</a>
            <a id="courses-text" class="nav-item" href="/courses">Courses</a>
            <a id="quizes-text" class="nav-item" href="/quizes">Quizes</a>
            <a id="deadlines-text" class="nav-item" href="/tasks">Tasks</a>
            <a id="diginotes-text" class="nav-item" href="/notes">Digital Notes</a>
            <a sec:authorize="hasAnyAuthority('ADMIN')" id="management-text" class="nav-item" href="/management">Management</a>
        </div>
        <div class="nav-center">
            <a href="/home"><img src="/media/logo-2.svg" id="logo"></a>
        </div>
        <div class="nav-right">

            <div id="mySidenav" class="sidenav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a sec:authorize="isAnonymous()" href="/login_page" id="btnSignIn">Log in</a>
                <a sec:authorize="isAnonymous()" href="/register" id="btnSignOut" >Register</a>
                <a sec:authorize="isAuthenticated()" href="javascript: document.logoutForm.submit()" role="menuitem"> Logout</a>

                <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
                    <input hidden type="submit" value="Sign Out"/>
                </form>
                <a id="profile-text" href="/profile">Profile</a>
                <a href="#" >Preferences</a>
            </div>
            <img src="/media/nav_prod.svg" id="hamburger" onclick="openNav()">
        </div>
    </nav>
    <div class="page-content">
        <div class="left-page">
            <img src="/media/circle-text.svg" id="circle-text">
            <div class="info-text">
                <h1>You can start a quiz at any time by pressing the corresponding play button.</h1>
            </div>
        </div>
        <div class="right-page">
            <div class="title">
                <p id="title">Quizes</p>
            </div>

            <div class="img-wrapper">
                <img src="/media/quiz_bck1.svg" id="quiz-background">
            </div>
            <div class="quiz-list">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" id="quiz1">
                        <div class="left">
                            <h2 class="quiz-name">Algebra Quiz</h2>
                        </div>
                        <div class="center">
                            <span class="nr-questions">5</span>Q
                        </div>
                        <div class="right">
                            <div class="difficulty">Easy</div>
                            <a href="/quiz_math"><img src="/media/quiz-start.svg" class="btn-start"></a>
                        </div>
                    </li>
                    <li class="list-group-item" id="quiz2">
                        <div class="left">
                            <h2 class="quiz-name">Computer Science Quiz</h2>
                        </div>
                        <div class="center">
                            <span class="nr-questions">5</span>Q
                        </div>
                        <div class="right">
                            <div class="difficulty">Easy</div>
                            <a href="/quiz_cs"><img src="/media/quiz-start.svg" class="btn-start"></a>
                        </div>
                    </li>
                    <li class="list-group-item" id="quiz3">
                        <div class="left">
                            <h2 class="quiz-name">Algebra Quiz</h2>
                        </div>
                        <div class="center">
                            <span class="nr-questions">5</span>Q
                        </div>
                        <div class="right">
                            <div class="difficulty">Medium</div>
                            <a href="/quiz_math"><img src="/media/quiz-start.svg" class="btn-start"></a>
                        </div>
                    </li>
                    <li class="list-group-item" id="quiz4">
                        <div class="left">
                            <h2 class="quiz-name">Computer Science Quiz</h2>
                        </div>
                        <div class="center">
                            <span class="nr-questions">5</span>Q
                        </div>
                        <div class="right">
                            <div class="difficulty">Hard</div>
                            <a href="/quiz_cs"><img src="/media/quiz-start.svg" class="btn-start"></a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "200px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
    }
    function openNavLeft() {
        document.getElementById("mySidenavLeft").style.width = "200px";
    }

    function closeNavLeft() {
        document.getElementById("mySidenavLeft").style.width = "0";
    }
</script>
</body>
</html>
